@import 'Variables.scss';

:root {
    box-sizing: border-box;
}

body {
    font-family     : $font-family;
    color           : $black;
    background-color: $gray-200;
    margin          : 0;
}

h1,
h2,
h3,
p {
    margin: 0 0 .2em;
}

button {
    box-shadow: none;
    border    : none;
    cursor    : pointer;
}

input,
textarea {
    cursor: text;
}

input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

button,
input,
textarea {
    &:disabled {
        cursor: not-allowed;
    }
}

.wrapper {
    display  : flex;
    flex-flow: row nowrap;
    width    : 100vw;
    height   : 100vh;
}

.main {
    flex    : 1 0 0;
    overflow: auto;
}

.aside {
    flex            : 0 0 40%;
    flex-flow       : column nowrap;
    display         : flex;
    align-items     : flex-start;
    justify-content : center;
    color           : $white;
    background-color: $blue;
    padding         : 20px 15px;

    .app-title {
        font-size     : 4rem;
        margin        : 0 0 .6em;
        text-transform: uppercase;
    }

    .app-lead {
        font-size  : .9rem;
        font-weight: lighter;
    }
}

.heart {
    font-size     : 1.5rem;
    color         : $red;
    display       : inline-block;
    vertical-align: middle;
    animation     : heartbeat 1.2s infinite;
}

.theme-toggle {
    position        : absolute;
    top             : 40px;
    right           : 40px;
    padding         : 0;
    width           : 40px;
    height          : 40px;
    border-radius   : 50%;
    background-color: $gray-800;
    border          : 3px solid $gray-500;
}

.theme-dark {
    color           : $white;
    background-color: $gray-900;

    .theme-toggle {
        background-color: $gray-300;
        border-color: $white;
    }

    input,
    textarea {
        background-color: $gray-800;
        color           : $white;
        border-color    : $gray-800;
    }
}

@media screen and (max-width: 600px) {
    .aside {
        display: none;
    }
}