@use 'sass:math';
@import 'Variables.scss';

.loading {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.loading-text {
    font-size: 2rem;
    text-transform: uppercase;
    color: $gray-300;
}

.loading-circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: $gray-300;
    margin-left: 10px;
    border-radius: 50%;
    animation: loading .3s alternate 0s infinite;

    @for $index from 1 to 3 {
        &:nth-child(#{$index + 1}) {
            animation-delay: $index * .1s;
        }
    }
}


