@import 'Variables.scss';

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20vh 10px 10vh;
}

.login-title {
    margin-bottom: 1.2em;
}

.login-input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: solid 1px $gray-200;
    padding: 10px;
}

.login-submit {
    color: $white;
    background-color: $blue;
    border: none;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: lighten($blue, 10%);
    }

    &:active {
        background-color: darken($blue, 14%);
    }
}