@import 'Variables.scss';

.pagination {
    text-align: center;
}

.pagination-list {
    list-style: none outside;
    width     : auto;
    display   : inline-block;
    box-shadow: 0 5px 7px rgba($gray-500, .2);
    overflow  : hidden;
}

.pagination-item {
    display   : inline-block;
    padding   : 8px 15px;
    background: $white;
    font-size : 1.1rem;

    &:disabled,
    &.pagination-disable {
        background-color: $gray-100;
    }

    &:not(:last-child) {
        border-right: solid 1px $gray-200;
    }

    &:not(:disabled) {
        cursor: pointer;
    }

    &.pagination-active {
        background-color: $blue;
        color           : $white;
    }
}

.theme-dark {
    .pagination-item {
        background-color: $gray-700;
        color: $white;
        border-color: $gray-800;

        &.pagination-active {
            background-color: $blue;
        }
    }

}
