@import 'Variables.scss';

.todo-container {
    flex     : 1 0 0;
    padding  : 30vh 0 50px;
    max-width: 550px;
    margin   : 0 auto;
}

.todo-list {
    background-color: $white;
    list-style      : none outside;
    padding         : 0;
    box-shadow      : 0 5px 7px rgba($gray-500, .2);
    margin-bottom   : 20px;
}

.todo-item {
    display        : flex;
    flex-flow      : row wrap;
    align-items    : baseline;
    justify-content: flex-start;
    padding        : 10px 7px;
    border: none;

    &:not(:last-child) {
        border-bottom: solid 1px $gray-200;
    }
}

.todo-state {
    flex         : 0 0 0;
    padding-right: 10px;
}

.todo-title {
    flex      : 1 0 0;
    font-size : 1.2rem;
    word-break: break-all;
    transition: .3s ease color;
}

.todo-date {
    flex      : 0 0 100%;
    text-align: right;
    font-size : .75rem;
    color     : $gray-500;
}

.todo-info,
.todo-remove {
    font-weight     : bold;
    background-color: transparent;
    color           : $gray-300;
    border-radius   : 50%;
    border          : 1px solid $gray-300;
    width           : 30px;
    height          : 30px;
    padding         : 0;
    transition      : .3s ease all;
    margin-left     : 10px;
}

.todo-info {
    position        : relative;
    background-color: transparent;
    width           : 30px;
    height          : 30px;
    padding         : 0;
    margin-left     : 10px;
}

.todo-item {
    &:hover {
        .todo-remove:not(:disabled) {
            color       : rgba($red, .3);
            border-color: rgba($red, .3);

            &:hover {
                color       : rgba($red, .8);
                border-color: rgba($red, .8);
            }
        }

        .todo-info:not(:disabled) {
            color       : rgba($blue, .3);
            border-color: rgba($blue, .3);

            &:hover {
                color       : rgba($blue, .8);
                border-color: rgba($blue, .8);
            }
        }
    }

    &.todo-item-done {
        .todo-title {
            text-decoration: line-through;
            color          : $gray-500;
        }
    }
}

.todo-search,
.todo-form {
    &:not(:last-child) {
        border-bottom: solid 1px $gray-200;
    }
}
.todo-search,
.todo-input {
    font-size       : 1.2rem;
    display         : block;
    width           : 100%;
    border          : none;
    outline         : none;
    box-shadow      : none;
    box-sizing      : border-box;
    padding         : 25px 15px;
    background-color: $gray-100;

    &::placeholder {
        color: $gray-400;
    }
}

.todo-search {
    padding: 10px 15px;
}

.todo-description-input,
.todo-title-input {
    font-family     : $font-family;
    font-size       : 1.2rem;
    flex            : 1 0 0;
    display         : block;
    border          : none;
    outline         : none;
    box-shadow      : none;
    box-sizing      : border-box;
    padding         : 10px 15px;
    background-color: $white;
    border-bottom   : 2px solid $gray-100;
    margin-bottom   : .5em;

    &::placeholder {
        color: $gray-500;
    }

    &:focus {
        border-bottom-color: $blue;
    }
}

.todo-edit {
    background: $blue;
    color     : $white;
    padding   : 10px 20px;
}

.theme-dark {
    .todo-item {
        background-color: $gray-700;
        border-color: $gray-800;
    }
    
    .todo-search,
    .todo-form {
        border-color: $gray-900;
    }
}