$red   : #e53935;
$blue  : #1976d2;
$green : #2e7d32;
$yellow: #fdd835;
$orange: #fb8c00;

$white   : #fff;
$gray-100: #f5f5f5;
$gray-200: #eeeeee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$black   : #000;

$font-family: 'Roboto', sans-serif;
